<br>
<div id="about" class="jumbotron">
  <div class="container">
    <h1>About</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p>iNvenory started with a very simple thought:
      What would happen if you didn't have a record of your valued possesions
      in the event of a natural dissaster? Sure you can put everything into a
      document or even take inventory by hand, but it becomes a tedious task to keep track of everything.
      iNventory will streamline the whole process. You just need to fill out the template for each item,
      every item is categorized by the types of room whether it be a bathroom, living room or dining room.
      iNventory also takes it one step further by letting you sell item you no longer wish to have with
      other members of the community. Your valued posessions will always be private to you until you post
      them online to view.
    </p>
  </div>
</div>
