<br>
<div id="index" class="jumbotron">
  <div class="container">
    <div class="row text-center">
      <h1 style="padding: 10px;">Welcome iNventory</h1>
      <p style="padding: 10px;">This website will make taking inventory of all <br>your items easier and help you sell items you no longer need.</p>
    </div>
  </div>
</div>

<div class="row row-offset-1">
  <div class="col-md-4">
    <div class="container">
      <h2>What makes this great?</h2>
    </div>
  </div>

  <div class="col-md-4">
    <div class="container">
      <h2>How easy is it to use?</h2>
    </div>
  </div>

  <div class="col-md-4">
    <div class="container">
      <h2>How secure is it?</h2>
    </div>
  </div>
</div>
