/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 #index {
   background-image: url('https://s3.amazonaws.com/websiteimagesforsam/kaboompics.com_Scandinavian+dining+room.jpg');
   background-size: cover;
   height: 500px;
   color: #fff;
   text-shadow: 1.5px 1.5px 1.5px #000000;
 }

 #about {
   background-image: url('https://s3.amazonaws.com/websiteimagesforsam/croppedImage.jpg');
   background-size: cover;
   height: 225px;
   color: #fff;
   text-shadow: 1.5px 1.5px 1.5px #000000;
 }

 #aboutDescription {
   spacing: 100px;
 }

 .user-info {
   margin: 10px;
 }

.btn {
  border-radius: 0px;
}
